<div class="card">
    <div class="card-header">Filtros</div>

    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="by">De</label>
                <input type="number" id="by" class="form-control">
            </div>
            <div class="form-group">
                <label for="to">Até</label>
                <input type="number" id="to" class="form-control">
            </div>

            <button class="btn btn-outline-light me-2 bg-dark text-white">Filtrar</button>

        </form>
        
    </div>
</div>
