<div class="d-flex flex-column flex-md-row p-3 bg-dark text-white">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <header></header>
    </a>

    <nav class="nav justify-content-end d-inline-flex mt-2 mt-md-0 ms-md-0 col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ">
      <a href="#" class="nav-link px-2 text-white justify-content-end">Sobre</a>
      <a href="#" class="nav-link px-2 text-white justify-content-end">Produtos</a>
      <a href="#" class="nav-link px-2 text-white justify-content-end">Suporte</a>
    </nav>

    <div class="text-end">
      <button type="button" class="btn btn-outline-light me-2">Login</button>
      <button type="button" class="btn btn-warning">Sign-up</button>
    </div>
</div>
